.react-facts-page {
    background-color: bisque;
    width: 100%;
    color: white;
}

.react-facts-page .container {
    background-color: #27292c;
    border-radius: 0.5rem;
}

.react-facts-page .header {
    background-color: #1c63ce;
    border-radius: 0.5rem;
    padding: 0.2rem;
    margin-bottom: 1rem;
    box-shadow: 0 4px 6px rgba(255, 254, 254, 0.311);
}

.react-facts-page h2 {
    font-size: xx-large;
}

.react-facts-page .nav-item:hover {
    background-color: #00d8ff;
    border-radius: 0.5rem;
    cursor: pointer;
}

.react-facts-page .main-list-items > li {
    padding-block: 0.3rem;
    line-height: 2.5rem;
}

.react-facts-page .main-list-items > li::marker {
    color: #00d8ff;
    font-size: 1.2rem;
}

.react-facts-page main {
    background-image: url('../../assets/react.svg');
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: right bottom;
}