.vanlife-app {
    font-family: 'Inter', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.vanlife-app .main-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

.vanlife-app .content {
    flex: 1;
}

.vanlife-app header nav {
    background-color: #FFF7ED;
}

.vanlife-app header>nav div>a {
    text-decoration: none;
    color: #4D4D4D;

    &:active {
        color: #161616;
    }

    &:hover {
        color: #161616;
    }
}

.vanlife-app .nav-active {
    border-bottom: 3px solid #161616;
    color: #161616;
}

.vanlife-app footer {
    background-color: #252525;
}

.vanlife-app footer>p {
    color: #AAAAAA;
}

.vanlife-app .about h3,
.vanlife-app .about h4 {
    font-weight: bolder;
}

.explore-section {
    background-color: #FFCC8D;
    display: inline-block;
}

.vanlife-app a {
    text-decoration: none !important;
}

.vanlife-app .about div a {
    background-color: #161616;

    &:hover {
        background-color: #252525;
    }
}

.home-container {
    background-image: url(./assets/Images/home-background-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.home-container>h1 {
    padding-top: 150px;
    font-weight: 800;
    font-size: 36px;
}

.home-container div a, form button {
    color: white;
    background-color: #FF8C38 !important;
    width: 20rem;
    font-weight: bold;

    &:hover {
        background-color: #FFA94D !important;
    }
}

.login-container {
    min-height: 88vh;
    display: flex;
    flex-direction: column;
}

.login-container>div {
    margin: 0 auto;
    background-color: #FFF7ED;
}

.btn-filter {
    background-color: #FFEAD0 !important;
    color: #4D4D4D;

    &:hover {
        background-color: #FFD699 !important;
    }
}

div>.btn-filter-clear {
    background-color: white;
    color: #4D4D4D;
    text-decoration: underline;
}

.btn-filter-selected {
    background-color: #FFD699 !important;
}

.card .card-body>span,
.van-details>article>span {
    color: #FFEAD0 !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    padding: 10px 15px;
}

.badge-simple {
    background-color: #E17654 !important;
}

.badge-luxury {
    background-color: #161616 !important;
}

.badge-rugged {
    background-color: #115E59 !important;
}

.van-details>article>div button {
    background-color: #FF8C38;
    margin: 15px auto;
    color: #FFFFFF;
    font-weight: 700;
}

.vanlife-app div>nav>a,
section>article>div a {
    text-decoration: none;
    color: #4D4D4D;

    &:active {
        color: #161616;
        text-decoration: underline;
    }

    &:hover {
        color: #161616;
        text-decoration: underline;
    }
}