.main-content {
    padding: 20px;
    margin-top: 60px;
}

.foot {
    position: fixed;
    bottom: 0;
    background-color: antiquewhite;
    display: inline;
    width: 100%;
    text-align: center;
}